<div class="component-main">
  <div class="component-header">
    <div class="component-header-text">
      İmtahanlar
    </div>
    <div class="component-crud-button" (click)="CrudPopupOpen()">
      <i class="fa-solid fa-square-plus"></i>
      Əlavə et
    </div>
  </div>
  <div class="component-body">
    <table class="component-table">
      <thead>
        <tr>
          <th>Actions</th>
          <th>№</th>
          <th>Dərs kodu</th>
          <th>Tələbə nömrəsi</th>
          <th>Qiymət</th>
          <th>Tarix</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let item of mainData; let i = index">
          <td>
            <button class="component-table-trash" (click)="DeleteItem(item.id)">
              <i class="fa-solid fa-trash"></i>
            </button>

            <button class="component-table-trash ms-4" (click)="UpdatePopupOpen(item)">
              <i class="fa-solid fa-pencil"></i>
            </button>
          </td>
          <td>
            {{ i + 1 }}
          </td>
          <td>{{item.lesson.code}}</td>
          <td>{{item.student.number}}</td>
          <td>{{item.grade}}</td>
          <td>{{item.date | date:"dd.MM.yyyy"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="crudPopupVisible" class="component-crud-popup">
  <div class="component-crud-popup-main">
    <div class="component-crud-popup-header w-100 d-flex justify-content-end">
      <button class="crud-popup-close-button" (click)="CrudPopupClose()">
        <i class="fa-solid fa-x"></i>
      </button>
    </div>

    <div class="component-crud-popup-body gap-2">
      <form [formGroup]="frm" (ngSubmit)="CreateUpdate()" id="ngForm">
        <div class="d-flex flex-wrap justify-content-between">
          <div class="form-input-label col-6">
            <select class="formInput" formControlName="dersid">
              <option [ngValue]="null">Dərs kod</option>
              <option *ngFor="let item of dersKodData;" [ngValue]="item.id">{{item.code}}</option>
            </select>
            <div class="validation-error" *ngIf="!dersid.valid && (dersid.dirty || dersid.touched)">
              Dərs seçilməlidir!
            </div>
          </div>
          <div class="form-input-label col-6">
            <select class="formInput" formControlName="shagirdid">
              <option [ngValue]="null">Şagird nömrəsi</option>
              <option *ngFor="let item of shagirdNomreData;" [ngValue]="item.id">{{item.number}}</option>
            </select>
            <div class="validation-error"
              *ngIf="!shagirdid.valid && (shagirdid.dirty || shagirdid.touched)">
              Şagird seçilməlidir!
            </div>
          </div>
          <div class="form-input-label col-6">
            <input class="formInput" type="date" formControlName="tarix" placeholder="Tarix">
            <div class="validation-error" *ngIf="!tarix.valid && (tarix.dirty || tarix.touched)">
              Tarix boş ola bilməz!
            </div>
          </div>
          <div class="form-input-label col-6">
            <input class="formInput" type="number" formControlName="qiymet" placeholder="Qiymət">
            <div class="validation-error" *ngIf="!qiymet.valid && (qiymet.dirty || qiymet.touched)">
              Qiymət boş və ya 10-dan çox ola bilməz!
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="component-crud-popup-footer w-100 d-flex justify-content-end">
      <button form="ngForm" class="crud-popup-save-button">
        <i class="fa-solid fa-check"></i>
        Yadda saxla
      </button>
    </div>
  </div>
</div>