<div class="component-main">
    <div class="component-header">
        <div class="component-header-text h2">
            Dərslər
        </div>
        <div class="component-crud-button " (click)="crudPopupVisible = true">
            <i class="fa-solid fa-square-plus"></i>
            Əlavə et
        </div>
    </div>
    <div class="component-body">
        <table class="component-table">
            <tr>
              <th>Dərsin kodu</th>
              <th>Dərsin adı</th>
              <th>Sinifi</th>
              <th>Dərsi verən müəllimin adı</th>
              <th>Dərsi verən müəllimin soyadı</th>
            </tr>
            <tr>
              <td>Jill</td>
              <td>Jill</td>
              <td>Jill</td>
              <td>Jill</td>
              <td>Jill</td>
            </tr>
            <tr>
              <td>Eve</td>
              <td>Eve</td>
              <td>Eve</td>
              <td>Eve</td>
              <td>Eve</td>

            </tr>
            <tr>
              <td>Adam</td>
              <td>Eve</td>
              <td>Eve</td>
              <td>Eve</td>
              <td>Eve</td>

            </tr>
          </table>
    </div>
</div>

<div *ngIf="crudPopupVisible" class="component-crud-popup">
    <div class="component-crud-popup-main">
      <div class="component-crud-popup-header w-100 d-flex justify-content-end">
        <button class="crud-popup-close-button" (click)="crudPopupVisible = false">
          <i class="fa-solid fa-x"></i>
        </button>
      </div>

      <div class="component-crud-popup-body">
        <form action="">
          <input type="text" placeholder="Dərsin adı">
          <input type="text" placeholder="Dərsin adı">
          <input type="text" placeholder="Dərsin adı">
          <input type="text" placeholder="Dərsin adı">
        </form>
      </div>
    </div>    
</div>