.component-main{
    width: 100%;
    height: 100%;
    .component-header{
        display: flex;
        justify-content: space-between;
        
    }

    *{
        margin: 0;
        padding: 0;
    }
    .component-create-button {
        appearance: none;
        background-color: #2ea44f;
        border: 1px solid rgba(27, 31, 35, .15);
        border-radius: 6px;
        box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        padding: 6px 16px;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        white-space: nowrap;
      //   font-size: 2px;
      }
      
      .component-create-button:focus:not(:focus-visible):not(.focus-visible) {
        box-shadow: none;
        outline: none;
      }
      
      .component-create-button:hover {
        background-color: #2c974b;
      }
      
      .component-create-button:focus {
        box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
        outline: none;
      }
      
      .component-create-button:disabled {
        background-color: #94d3a2;
        border-color: rgba(27, 31, 35, .1);
        color: rgba(255, 255, 255, .8);
        cursor: default;
      }
      
      .component-create-button:active {
        background-color: #298e46;
        box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
      }

      
      .component-body{
          width: 100%;
          height: auto;
          

        .component-table{
            margin-top: 20px;
            width: 100%;
            height: auto;
            border: 1px solid gray;
            border-radius: 12px;
            th{
                background-color: #2ea44f;
                color: white;
                padding: 4px 8px;
            }
        }
      }
}

